@model WebTracuu.Models.ThongTin

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ThongTin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nganh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nganh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To_hop_thi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To_hop_thi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ma_nganh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ma_nganh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chi_Tieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chi_Tieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tham_Gia_Doi_Tuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tham_Gia_Doi_Tuyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To_Hop_XTT2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To_Hop_XTT2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ghi_Chu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ghi_Chu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loai_XT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loai_XT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngoai_SP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngoai_SP)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
