@model IEnumerable<WebTracuu.Models.Nganh_Chitieu>

@{
    ViewBag.Title = "Các ngành tuyển sinh ĐHSPHN năm 2021";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h3>@ViewBag.Title</h3>
<p>
    @using (Html.BeginForm())
    {
        @*<div class="form-horizontal">
                <div class="form-group">
                    @Html.Label("", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.Editor("KeyWord", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-4">
                        <input type="submit" value="Tìm kiếm" class="btn btn-default" />
                    </div>
                </div>

            </div>*@
    }
</p>
<table style="font-size:14px" border="1">

    <tr>
        <th>STT </th>
        <th>Ngành </th>
        <th>Chỉ tiêu dự kiến</th>
        <th>Loại hình đào tạo </th>
        <th>Poster giới thiệu</th>
    </tr>
    @{int index = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:right;">  @index</td>
            <td> @Html.ActionLink(@item.Nganh, "ViewDetail", new { nganh = @item.Nganh }) </td>
            <td style="text-align:center;"> @item.ChiTieu </td>
            <td style="text-align:center;"> @(@item.Ngoai_SP == 0 ? "Sư phạm" : "Ngoài sư phạm") </td>

            @if (item.Dean_TS == "")
            {
                <td></td>
            }
            else
            {
                <td>
                    @(@Html.ActionLink((@item.Dean_TS == "" ? "" : "Giới thiệu"), "ViewImage", new { sNganh = @item.Nganh, sUrl = @item.Dean_TS }))
                </td>
            }

        </tr>
        index++;
    }

</table>
<br>
<h4><b><i>Lưu ý: Trường ĐHSPHN chỉ tuyển những thí sinh đã tốt nghiệp THPT và có hạnh kiểm tất cả các học kỳ ở bậc THPT đạt loại khá trở lên.</b></i></h4>