@model IEnumerable<WebTracuu.Models.ThongTin>

@{
    ViewBag.Title = "ViewDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table border="1">
    @if (ViewBag.MaXT == "XTT2" || ViewBag.MaXT == "XTT3")
    {
        int index = 1;
        <tr>
            <th>STT </th>
            <th>Ngành xét tuyển</th>
            <th>Tham gia đội tuyển</th>
            <th>Tổ hợp Xét tuyển</th>
            <th>Ghi chú</th>
        </tr>

        foreach (var item in Model)
        {
            <tr>
                <td>@index</td>
                <td>@item.Nganh </td>
                <td>@item.Tham_Gia_Doi_Tuyen</td>
                <td>
                    @item.To_Hop_XTT2
                </td>

                <td>@item.Chi_Tieu</td>
            </tr>

        }
    }
    else
    {
        int index = 1;
        <tr>
            <th>STT </th>
            <th>Mã tổ hợp</th>
            <th>Ngành xét tuyển</th>
            <th>Tổ hợp thi</th>
            <th>Chỉ tiêu</th>
        </tr>
        
        foreach (var item in Model)
        {
            <tr>
                <td>@index</td>
                <td>@item.Ma_nganh </td>
                <td>@item.Nganh</td>
                <td>
                    @item.To_hop_thi                    
                </td>
                <td>@item.Chi_Tieu</td>
            </tr>
            index++;
        }
    }

</table>
