@model IEnumerable<WebTracuu.Models.ThongTin>

@{
    ViewBag.Title = "ViewDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table border="1">
    @{int index = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>  @index</td>
            <td> @item.Ma_nganh </td>
            <td>@item.Nganh</td>
            <td>@item.To_hop_thi</td>
            <td>@item.Chi_Tieu</td>
        </tr>
        index++;
    }
</table>
